git+https://github.com/Divyanshu9822/mem0.git@main
litellm
google-generativeai
python-dotenv
langchain
langchain_google_genai
langchain-community
langchain_core
requests
opencv-python 
Pillow
pyautogui
deepface
tf-keras
pyaudio
soundfile
SpeechRecognition
langgraph
